<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaao.ps10.oa.mapper.ActHiTaskInstMapper">
  <resultMap id="BaseResultMap" type="com.yaao.ps10.oa.model.ActHiTaskInst">
    <id column="ID_" jdbcType="NVARCHAR" property="id" />
    <result column="PROC_DEF_ID_" jdbcType="NVARCHAR" property="procDefId" />
    <result column="TASK_DEF_KEY_" jdbcType="NVARCHAR" property="taskDefKey" />
    <result column="PROC_INST_ID_" jdbcType="NVARCHAR" property="procInstId" />
    <result column="EXECUTION_ID_" jdbcType="NVARCHAR" property="executionId" />
    <result column="NAME_" jdbcType="NVARCHAR" property="name" />
    <result column="PARENT_TASK_ID_" jdbcType="NVARCHAR" property="parentTaskId" />
    <result column="DESCRIPTION_" jdbcType="NVARCHAR" property="description" />
    <result column="OWNER_" jdbcType="NVARCHAR" property="owner" />
    <result column="ASSIGNEE_" jdbcType="NVARCHAR" property="assignee" />
    <result column="START_TIME_" jdbcType="TIMESTAMP" property="startTime" />
    <result column="CLAIM_TIME_" jdbcType="TIMESTAMP" property="claimTime" />
    <result column="END_TIME_" jdbcType="TIMESTAMP" property="endTime" />
    <result column="DURATION_" jdbcType="NUMERIC" property="duration" />
    <result column="DELETE_REASON_" jdbcType="NVARCHAR" property="deleteReason" />
    <result column="PRIORITY_" jdbcType="INTEGER" property="priority" />
    <result column="DUE_DATE_" jdbcType="TIMESTAMP" property="dueDate" />
    <result column="FORM_KEY_" jdbcType="NVARCHAR" property="formKey" />
    <result column="CATEGORY_" jdbcType="NVARCHAR" property="category" />
    <result column="TENANT_ID_" jdbcType="NVARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID_, PROC_DEF_ID_, TASK_DEF_KEY_, PROC_INST_ID_, EXECUTION_ID_, NAME_, PARENT_TASK_ID_, 
    DESCRIPTION_, OWNER_, ASSIGNEE_, START_TIME_, CLAIM_TIME_, END_TIME_, DURATION_, 
    DELETE_REASON_, PRIORITY_, DUE_DATE_, FORM_KEY_, CATEGORY_, TENANT_ID_
  </sql>
  <select id="selectByExample" parameterType="com.yaao.ps10.oa.model.ActHiTaskInstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACT_HI_TASKINST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ACT_HI_TASKINST
    where ID_ = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ACT_HI_TASKINST
    where ID_ = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaao.ps10.oa.model.ActHiTaskInstExample">
    delete from ACT_HI_TASKINST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaao.ps10.oa.model.ActHiTaskInst">
    insert into ACT_HI_TASKINST (ID_, PROC_DEF_ID_, TASK_DEF_KEY_, 
      PROC_INST_ID_, EXECUTION_ID_, NAME_, 
      PARENT_TASK_ID_, DESCRIPTION_, OWNER_, 
      ASSIGNEE_, START_TIME_, CLAIM_TIME_, 
      END_TIME_, DURATION_, DELETE_REASON_, 
      PRIORITY_, DUE_DATE_, FORM_KEY_, 
      CATEGORY_, TENANT_ID_)
    values (#{id,jdbcType=NVARCHAR}, #{procDefId,jdbcType=NVARCHAR}, #{taskDefKey,jdbcType=NVARCHAR}, 
      #{procInstId,jdbcType=NVARCHAR}, #{executionId,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, 
      #{parentTaskId,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, #{owner,jdbcType=NVARCHAR}, 
      #{assignee,jdbcType=NVARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{claimTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{duration,jdbcType=NUMERIC}, #{deleteReason,jdbcType=NVARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{dueDate,jdbcType=TIMESTAMP}, #{formKey,jdbcType=NVARCHAR}, 
      #{category,jdbcType=NVARCHAR}, #{tenantId,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaao.ps10.oa.model.ActHiTaskInst">
    insert into ACT_HI_TASKINST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="procDefId != null">
        PROC_DEF_ID_,
      </if>
      <if test="taskDefKey != null">
        TASK_DEF_KEY_,
      </if>
      <if test="procInstId != null">
        PROC_INST_ID_,
      </if>
      <if test="executionId != null">
        EXECUTION_ID_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="parentTaskId != null">
        PARENT_TASK_ID_,
      </if>
      <if test="description != null">
        DESCRIPTION_,
      </if>
      <if test="owner != null">
        OWNER_,
      </if>
      <if test="assignee != null">
        ASSIGNEE_,
      </if>
      <if test="startTime != null">
        START_TIME_,
      </if>
      <if test="claimTime != null">
        CLAIM_TIME_,
      </if>
      <if test="endTime != null">
        END_TIME_,
      </if>
      <if test="duration != null">
        DURATION_,
      </if>
      <if test="deleteReason != null">
        DELETE_REASON_,
      </if>
      <if test="priority != null">
        PRIORITY_,
      </if>
      <if test="dueDate != null">
        DUE_DATE_,
      </if>
      <if test="formKey != null">
        FORM_KEY_,
      </if>
      <if test="category != null">
        CATEGORY_,
      </if>
      <if test="tenantId != null">
        TENANT_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="procDefId != null">
        #{procDefId,jdbcType=NVARCHAR},
      </if>
      <if test="taskDefKey != null">
        #{taskDefKey,jdbcType=NVARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=NVARCHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="parentTaskId != null">
        #{parentTaskId,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=NVARCHAR},
      </if>
      <if test="assignee != null">
        #{assignee,jdbcType=NVARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="claimTime != null">
        #{claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NUMERIC},
      </if>
      <if test="deleteReason != null">
        #{deleteReason,jdbcType=NVARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="dueDate != null">
        #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="formKey != null">
        #{formKey,jdbcType=NVARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=NVARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaao.ps10.oa.model.ActHiTaskInstExample" resultType="java.lang.Long">
    select count(*) from ACT_HI_TASKINST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ACT_HI_TASKINST
    <set>
      <if test="record.id != null">
        ID_ = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="record.procDefId != null">
        PROC_DEF_ID_ = #{record.procDefId,jdbcType=NVARCHAR},
      </if>
      <if test="record.taskDefKey != null">
        TASK_DEF_KEY_ = #{record.taskDefKey,jdbcType=NVARCHAR},
      </if>
      <if test="record.procInstId != null">
        PROC_INST_ID_ = #{record.procInstId,jdbcType=NVARCHAR},
      </if>
      <if test="record.executionId != null">
        EXECUTION_ID_ = #{record.executionId,jdbcType=NVARCHAR},
      </if>
      <if test="record.name != null">
        NAME_ = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.parentTaskId != null">
        PARENT_TASK_ID_ = #{record.parentTaskId,jdbcType=NVARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION_ = #{record.description,jdbcType=NVARCHAR},
      </if>
      <if test="record.owner != null">
        OWNER_ = #{record.owner,jdbcType=NVARCHAR},
      </if>
      <if test="record.assignee != null">
        ASSIGNEE_ = #{record.assignee,jdbcType=NVARCHAR},
      </if>
      <if test="record.startTime != null">
        START_TIME_ = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.claimTime != null">
        CLAIM_TIME_ = #{record.claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        END_TIME_ = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.duration != null">
        DURATION_ = #{record.duration,jdbcType=NUMERIC},
      </if>
      <if test="record.deleteReason != null">
        DELETE_REASON_ = #{record.deleteReason,jdbcType=NVARCHAR},
      </if>
      <if test="record.priority != null">
        PRIORITY_ = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.dueDate != null">
        DUE_DATE_ = #{record.dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.formKey != null">
        FORM_KEY_ = #{record.formKey,jdbcType=NVARCHAR},
      </if>
      <if test="record.category != null">
        CATEGORY_ = #{record.category,jdbcType=NVARCHAR},
      </if>
      <if test="record.tenantId != null">
        TENANT_ID_ = #{record.tenantId,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ACT_HI_TASKINST
    set ID_ = #{record.id,jdbcType=NVARCHAR},
      PROC_DEF_ID_ = #{record.procDefId,jdbcType=NVARCHAR},
      TASK_DEF_KEY_ = #{record.taskDefKey,jdbcType=NVARCHAR},
      PROC_INST_ID_ = #{record.procInstId,jdbcType=NVARCHAR},
      EXECUTION_ID_ = #{record.executionId,jdbcType=NVARCHAR},
      NAME_ = #{record.name,jdbcType=NVARCHAR},
      PARENT_TASK_ID_ = #{record.parentTaskId,jdbcType=NVARCHAR},
      DESCRIPTION_ = #{record.description,jdbcType=NVARCHAR},
      OWNER_ = #{record.owner,jdbcType=NVARCHAR},
      ASSIGNEE_ = #{record.assignee,jdbcType=NVARCHAR},
      START_TIME_ = #{record.startTime,jdbcType=TIMESTAMP},
      CLAIM_TIME_ = #{record.claimTime,jdbcType=TIMESTAMP},
      END_TIME_ = #{record.endTime,jdbcType=TIMESTAMP},
      DURATION_ = #{record.duration,jdbcType=NUMERIC},
      DELETE_REASON_ = #{record.deleteReason,jdbcType=NVARCHAR},
      PRIORITY_ = #{record.priority,jdbcType=INTEGER},
      DUE_DATE_ = #{record.dueDate,jdbcType=TIMESTAMP},
      FORM_KEY_ = #{record.formKey,jdbcType=NVARCHAR},
      CATEGORY_ = #{record.category,jdbcType=NVARCHAR},
      TENANT_ID_ = #{record.tenantId,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaao.ps10.oa.model.ActHiTaskInst">
    update ACT_HI_TASKINST
    <set>
      <if test="procDefId != null">
        PROC_DEF_ID_ = #{procDefId,jdbcType=NVARCHAR},
      </if>
      <if test="taskDefKey != null">
        TASK_DEF_KEY_ = #{taskDefKey,jdbcType=NVARCHAR},
      </if>
      <if test="procInstId != null">
        PROC_INST_ID_ = #{procInstId,jdbcType=NVARCHAR},
      </if>
      <if test="executionId != null">
        EXECUTION_ID_ = #{executionId,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        NAME_ = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="parentTaskId != null">
        PARENT_TASK_ID_ = #{parentTaskId,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION_ = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="owner != null">
        OWNER_ = #{owner,jdbcType=NVARCHAR},
      </if>
      <if test="assignee != null">
        ASSIGNEE_ = #{assignee,jdbcType=NVARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME_ = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="claimTime != null">
        CLAIM_TIME_ = #{claimTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME_ = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        DURATION_ = #{duration,jdbcType=NUMERIC},
      </if>
      <if test="deleteReason != null">
        DELETE_REASON_ = #{deleteReason,jdbcType=NVARCHAR},
      </if>
      <if test="priority != null">
        PRIORITY_ = #{priority,jdbcType=INTEGER},
      </if>
      <if test="dueDate != null">
        DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="formKey != null">
        FORM_KEY_ = #{formKey,jdbcType=NVARCHAR},
      </if>
      <if test="category != null">
        CATEGORY_ = #{category,jdbcType=NVARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID_ = #{tenantId,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaao.ps10.oa.model.ActHiTaskInst">
    update ACT_HI_TASKINST
    set PROC_DEF_ID_ = #{procDefId,jdbcType=NVARCHAR},
      TASK_DEF_KEY_ = #{taskDefKey,jdbcType=NVARCHAR},
      PROC_INST_ID_ = #{procInstId,jdbcType=NVARCHAR},
      EXECUTION_ID_ = #{executionId,jdbcType=NVARCHAR},
      NAME_ = #{name,jdbcType=NVARCHAR},
      PARENT_TASK_ID_ = #{parentTaskId,jdbcType=NVARCHAR},
      DESCRIPTION_ = #{description,jdbcType=NVARCHAR},
      OWNER_ = #{owner,jdbcType=NVARCHAR},
      ASSIGNEE_ = #{assignee,jdbcType=NVARCHAR},
      START_TIME_ = #{startTime,jdbcType=TIMESTAMP},
      CLAIM_TIME_ = #{claimTime,jdbcType=TIMESTAMP},
      END_TIME_ = #{endTime,jdbcType=TIMESTAMP},
      DURATION_ = #{duration,jdbcType=NUMERIC},
      DELETE_REASON_ = #{deleteReason,jdbcType=NVARCHAR},
      PRIORITY_ = #{priority,jdbcType=INTEGER},
      DUE_DATE_ = #{dueDate,jdbcType=TIMESTAMP},
      FORM_KEY_ = #{formKey,jdbcType=NVARCHAR},
      CATEGORY_ = #{category,jdbcType=NVARCHAR},
      TENANT_ID_ = #{tenantId,jdbcType=NVARCHAR}
    where ID_ = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="selectByActHiTaskInst" parameterType="com.yaao.ps10.oa.model.ActHiTaskInst" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ACT_HI_TASKINST
    where 1=1
    <if test="procInstId != null">
      and PROC_INST_ID_ = #{procInstId,jdbcType=NVARCHAR}
    </if>
    <if test="taskDefKey != null">
      and TASK_DEF_KEY_ = #{taskDefKey,jdbcType=NVARCHAR}
    </if>
    <if test="assignee != null">
      and ASSIGNEE_ = #{assignee,jdbcType=NVARCHAR}
    </if>
  </select>
</mapper>