<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaao.ps10.base.mapper.SiteTableMapper">
  <resultMap id="SiteResultMap" type="com.yaao.ps10.base.model.SiteTable">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SITE_NAME" jdbcType="VARCHAR" property="siteName" />
    <result column="SPELLABBREVIATION" jdbcType="VARCHAR" property="spellabbreviation" />
    <result column="SITE_ALIAS" jdbcType="VARCHAR" property="siteAlias" />
    <result column="SITECODING" jdbcType="VARCHAR" property="sitecoding" />
    <result column="SITE_TYPE" jdbcType="INTEGER" property="siteType" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="AREA_ID" jdbcType="INTEGER" property="areaId" />
    <result column="LONGITUDE" jdbcType="DOUBLE" property="longitude" />
    <result column="LATITUDE" jdbcType="DOUBLE" property="latitude" />
    <result column="SERVICE_LEVEL_TYPE" jdbcType="INTEGER" property="serviceLevelType" />
    <result column="FLOOR_COUNT" jdbcType="INTEGER" property="floorCount" />
    <result column="StandFlag" jdbcType="INTEGER" property="standflag" />
    <result column="SaveFlag" jdbcType="INTEGER" property="saveflag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SITE_NAME, SPELLABBREVIATION, SITE_ALIAS, SITECODING, SITE_TYPE, ADDRESS, AREA_ID, 
    LONGITUDE, LATITUDE, SERVICE_LEVEL_TYPE, FLOOR_COUNT, StandFlag, SaveFlag, REMARK
  </sql>
  <select id="getSiteInfoById" parameterType="com.yaao.ps10.base.model.SiteTableExample" resultMap="SiteResultMap">
    select
    <include refid="Base_Column_List" />
    from PSBaseDb.dbo.SiteTable WHERE ID IN(SELECT DISTINCT(SITE_ID)
    FROM PSBaseDb.dbo.RoomTable rod WHERE rod.ID IN (SELECT DISTINCT(Room_Id) AS roomId
    FROM OADataDb.dbo.WHY_Inspect_Room_State WHERE PIID IN(SELECT PIID FROM OADataDb.dbo.WHY_Inspect
    WHERE id=#{id})))
  </select>
  <select id="selectByExample" parameterType="com.yaao.ps10.base.model.SiteTableExample" resultMap="SiteResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SiteTable
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="SiteResultMap">
    select 
    <include refid="Base_Column_List" />
    from SiteTable
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SiteTable
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaao.ps10.base.model.SiteTableExample">
    delete from SiteTable
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaao.ps10.base.model.SiteTable">
    insert into SiteTable (ID, SITE_NAME, SPELLABBREVIATION, 
      SITE_ALIAS, SITECODING, SITE_TYPE, 
      ADDRESS, AREA_ID, LONGITUDE, 
      LATITUDE, SERVICE_LEVEL_TYPE, FLOOR_COUNT, 
      StandFlag, SaveFlag, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{spellabbreviation,jdbcType=VARCHAR}, 
      #{siteAlias,jdbcType=VARCHAR}, #{sitecoding,jdbcType=VARCHAR}, #{siteType,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{areaId,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{serviceLevelType,jdbcType=INTEGER}, #{floorCount,jdbcType=INTEGER}, 
      #{standflag,jdbcType=INTEGER}, #{saveflag,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yaao.ps10.base.model.SiteTable">
    insert into SiteTable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="siteName != null">
        SITE_NAME,
      </if>
      <if test="spellabbreviation != null">
        SPELLABBREVIATION,
      </if>
      <if test="siteAlias != null">
        SITE_ALIAS,
      </if>
      <if test="sitecoding != null">
        SITECODING,
      </if>
      <if test="siteType != null">
        SITE_TYPE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="longitude != null">
        LONGITUDE,
      </if>
      <if test="latitude != null">
        LATITUDE,
      </if>
      <if test="serviceLevelType != null">
        SERVICE_LEVEL_TYPE,
      </if>
      <if test="floorCount != null">
        FLOOR_COUNT,
      </if>
      <if test="standflag != null">
        StandFlag,
      </if>
      <if test="saveflag != null">
        SaveFlag,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="spellabbreviation != null">
        #{spellabbreviation,jdbcType=VARCHAR},
      </if>
      <if test="siteAlias != null">
        #{siteAlias,jdbcType=VARCHAR},
      </if>
      <if test="sitecoding != null">
        #{sitecoding,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="serviceLevelType != null">
        #{serviceLevelType,jdbcType=INTEGER},
      </if>
      <if test="floorCount != null">
        #{floorCount,jdbcType=INTEGER},
      </if>
      <if test="standflag != null">
        #{standflag,jdbcType=INTEGER},
      </if>
      <if test="saveflag != null">
        #{saveflag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaao.ps10.base.model.SiteTableExample" resultType="java.lang.Long">
    select count(*) from SiteTable
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SiteTable
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.siteName != null">
        SITE_NAME = #{record.siteName,jdbcType=VARCHAR},
      </if>
      <if test="record.spellabbreviation != null">
        SPELLABBREVIATION = #{record.spellabbreviation,jdbcType=VARCHAR},
      </if>
      <if test="record.siteAlias != null">
        SITE_ALIAS = #{record.siteAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.sitecoding != null">
        SITECODING = #{record.sitecoding,jdbcType=VARCHAR},
      </if>
      <if test="record.siteType != null">
        SITE_TYPE = #{record.siteType,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null">
        AREA_ID = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null">
        LONGITUDE = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null">
        LATITUDE = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.serviceLevelType != null">
        SERVICE_LEVEL_TYPE = #{record.serviceLevelType,jdbcType=INTEGER},
      </if>
      <if test="record.floorCount != null">
        FLOOR_COUNT = #{record.floorCount,jdbcType=INTEGER},
      </if>
      <if test="record.standflag != null">
        StandFlag = #{record.standflag,jdbcType=INTEGER},
      </if>
      <if test="record.saveflag != null">
        SaveFlag = #{record.saveflag,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SiteTable
    set ID = #{record.id,jdbcType=INTEGER},
      SITE_NAME = #{record.siteName,jdbcType=VARCHAR},
      SPELLABBREVIATION = #{record.spellabbreviation,jdbcType=VARCHAR},
      SITE_ALIAS = #{record.siteAlias,jdbcType=VARCHAR},
      SITECODING = #{record.sitecoding,jdbcType=VARCHAR},
      SITE_TYPE = #{record.siteType,jdbcType=INTEGER},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      AREA_ID = #{record.areaId,jdbcType=INTEGER},
      LONGITUDE = #{record.longitude,jdbcType=DOUBLE},
      LATITUDE = #{record.latitude,jdbcType=DOUBLE},
      SERVICE_LEVEL_TYPE = #{record.serviceLevelType,jdbcType=INTEGER},
      FLOOR_COUNT = #{record.floorCount,jdbcType=INTEGER},
      StandFlag = #{record.standflag,jdbcType=INTEGER},
      SaveFlag = #{record.saveflag,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaao.ps10.base.model.SiteTable">
    update SiteTable
    <set>
      <if test="siteName != null">
        SITE_NAME = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="spellabbreviation != null">
        SPELLABBREVIATION = #{spellabbreviation,jdbcType=VARCHAR},
      </if>
      <if test="siteAlias != null">
        SITE_ALIAS = #{siteAlias,jdbcType=VARCHAR},
      </if>
      <if test="sitecoding != null">
        SITECODING = #{sitecoding,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        SITE_TYPE = #{siteType,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        AREA_ID = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        LONGITUDE = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        LATITUDE = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="serviceLevelType != null">
        SERVICE_LEVEL_TYPE = #{serviceLevelType,jdbcType=INTEGER},
      </if>
      <if test="floorCount != null">
        FLOOR_COUNT = #{floorCount,jdbcType=INTEGER},
      </if>
      <if test="standflag != null">
        StandFlag = #{standflag,jdbcType=INTEGER},
      </if>
      <if test="saveflag != null">
        SaveFlag = #{saveflag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaao.ps10.base.model.SiteTable">
    update SiteTable
    set SITE_NAME = #{siteName,jdbcType=VARCHAR},
      SPELLABBREVIATION = #{spellabbreviation,jdbcType=VARCHAR},
      SITE_ALIAS = #{siteAlias,jdbcType=VARCHAR},
      SITECODING = #{sitecoding,jdbcType=VARCHAR},
      SITE_TYPE = #{siteType,jdbcType=INTEGER},
      ADDRESS = #{address,jdbcType=VARCHAR},
      AREA_ID = #{areaId,jdbcType=INTEGER},
      LONGITUDE = #{longitude,jdbcType=DOUBLE},
      LATITUDE = #{latitude,jdbcType=DOUBLE},
      SERVICE_LEVEL_TYPE = #{serviceLevelType,jdbcType=INTEGER},
      FLOOR_COUNT = #{floorCount,jdbcType=INTEGER},
      StandFlag = #{standflag,jdbcType=INTEGER},
      SaveFlag = #{saveflag,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>